{%  extends 'QuoraApp/main.html' %}
{% block content %}

            <!-- left bar -->
          <div class="outer-container">
              <!-- middle bar -->
              <div class="col-lg-6">
                <div>
                    <div class="alert alert-primary headermiddle">
                      <img src="/media/default_tag.png"/>
                      <span style="font-size: 25px;">Questions For You</span>
                    </div>
                    {% for i in questions %}
                    <div class="card mb-3">
                      <div class="card-header">Tag :{{i.tag}}</div>
                      <div class="card-body">
                        <h5 class="card-title">{{i.description}}</h5>
                      </div>
                      <div class="answer">
                      <button type="button" class="btn btn-primary" style="margin-left:20px; margin-bottom: 20px;">
                          <a  style="color:white" href="{% url 'submitanswer' i.id %}">
                          Answer
                          </a>
                      </button>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
              </div>

              <!-- right bar -->
              <div class="col-lg-2 rightbar">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Follow topics you know about</h5>
                    <p class="card-text">Following topics helps us find questions for you to answer</p>
                    <a href="{% url 'Following' %}" class="btn btn-primary">Follow Topics</a>
                  </div>
                </div>
              </div>


          </div>


{% endblock %}


{% block scripts %}

$('.upvote').click(function(){
    var catid;
    catid = $(this).attr("data-catid");
    $.ajax(
    {
        type:"GET",
        url: "upvote/",
        data:{
                 post_id: catid
        },
        success: function( data )
        {
            console.log('upvote done')
        }
     })
});

$('.downvote').click(function(){
    var catid;
    catid = $(this).attr("data-catid");
    $.ajax(
    {
        type:"GET",
        url: "downvote/",
        data:{
                 post_id: catid
        },
        success: function( data )
        {
            console.log('downvote done')
        }
     })
});




{% endblock scripts %}
