{%  extends 'QuoraApp/main.html' %}
{% block content %}


          <div class="card mb-3" style="max-width: 35%;">
            <div class="alert alert-primary" style="margin: 10px;" role="alert">
                <h4 class="alert-heading">Tips on getting good answers quickly</h4>
                <ul>
                    <li>Make sure your question has not been asked already</li>
                    <li>Keep your question short and to the point</li>
                    <li>Double-check grammar and spelling</li>
                </ul>
            </div>
            <div class="card-body">
              <p class="card-text question-text">
                  <input type="text" class="question-text-input" placeholder="Start your Question with 'Why', 'What', 'How', etc."/>
              </p>
              <p class="card-text question-text">
                <input type="text" class="question-text-input" placeholder="Optional: Include a link that gives context"/>
              </p>
            </div>
          </div>
{% endblock %}
