{%  extends 'QuoraApp/main.html' %}
{% block content %}


    <div class="outer-container">
      <div class="col-lg-2 leftbar">
      <p style="font-size: 25px;">Questions</p>
      <div id="list-example" class="list-group ">
          <a class="list-group-item list-group-item-action" href="#list-item-2">Questions for you</a>
          <a class="list-group-item list-group-item-action" href="#list-item-3">Answer requests</a>
          <a class="list-group-item list-group-item-action" href="#list-item-4">Answer draft</a>
        </div>

      </div>

      <div class="col-lg-6">
        <div class="card mb-5" style="max-height: 400px">
          <div class="alert alert-primary" style="margin: 10px;" role="alert">
              <h4 class="alert-heading">Tips on getting good answers quickly</h4>
              <ul>
                  <li>Make sure your question has not been asked already</li>
                  <li>Keep your question short and to the point</li>
                  <li>Double-check grammar and spelling</li>
              </ul>
          </div>
          <form method="POST" class="card-body">
              {% csrf_token %}
              <p class="card-text question-text">
                {{ form.description }}
              </p>
              <hr />
              <div class="individual-detail-edu">
                  <h6 class="tag-name col-lg-4">Add Tag</h6>
                      {{ form.tag }}
              </div>
              <hr />
              <div class="individual-detail submit-btn">
                  <button type="submit" class="btn btn-primary" style="width: 300px;">Ask Question</button>
              </div>
          </form>
        </div>
        <hr />
        <div>
          <h5 class="alert alert-primary">{{ request.user }}, you asked these questions...</h5>
        </div>
        {% for question in all_questions %}
        <div class="card mb-3">
          <div class="card-header">
            {{ question.tag }}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ question.description }}</h5>
            <a href="{% url 'Question' question.id %}" class="btn btn-primary">View</a>
          </div>
        </div>
        {% endfor %}
      </div>

    <div class="col-lg-2 rightbar">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add topics you know about</h5>
          <p class="card-text">Adding topics helps us find questions for you to answer</p>
          <a href="#" class="btn btn-primary">Add Topics</a>
        </div>
      </div>
    </div>    
  </div>
{% endblock %}
