{%  extends 'QuoraApp/main.html' %}
{% block content %}


          <div class="card mb-3" style="max-width: 35%;">
            <div class="alert alert-primary" style="margin: 10px;" role="alert">
                <h4 class="alert-heading">Tips on getting good answers quickly</h4>
                <ul>
                    <li>Make sure your question has not been asked already</li>
                    <li>Keep your question short and to the point</li>
                    <li>Double-check grammar and spelling</li>
                </ul>
            </div>
            <form method="POST" class="card-body">
                {% csrf_token %}
                <p class="card-text question-text">
                  {{ form.description }}
                </p>
                <hr />
                <div class="individual-detail-edu">
                    <h6 class="tag-name col-lg-4">Add Tag</h6>
                        {{ form.tag }}
                </div>
                <hr />
                <div class="individual-detail submit-btn">
                    <button type="submit" class="btn btn-primary" style="width: 300px;">Ask Question</button>
                </div>
            </form>
          </div>
{% endblock %}
