{%  extends 'QuoraApp/main.html' %}
{% block content %}
    <div class="outer-container">
        <div class="col-lg-2 leftbar">
            <p id="message"></p>
            <ul class="list-group">
                <p class="list-group-item list-group-item-action card-footer" style="font-size: 25px;">Other Tags to follow...</p>
                {% for i in tag %}
                <li class="list-group-item list-group-item-action">
                    <img alt="tag" src="{{ i.tag_pic.url }}" style="margin-right: 10px;" class="small-img"/>
                    <a href="{% url 'TagPage' i.id %}">{{i.name}}</a>
                </li>
                {% endfor %}

            </ul>

        </div>

        <div class="col-lg-6">
            <h5 class="alert alert-primary">{{ request.user }}, you follow these Topics...</h5>
            {% for each_tag in following_tags %}
            <div class="card mt-4" id="card{{each_tag.tag.id}}">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'TagPage' each_tag.tag.id %}">{{ each_tag.tag.name }}</a></h5>
                  <p class="card-text">{{ each_tag.tag.description}}</p>
                    <button type="button"
                            class="btn btn-danger">
                        <a class="unfollow"
                           data-catid="{{ each_tag.tag.id }}"
                           data-field-id="{{ each_tag.tag.name }}"
                           style="color:white;"
                           href="#">Unfollow
                        </a>
                    </button>
                </div>
            </div>
            {% endfor %}

        </div>

    </div>
{% endblock %}

{% block scripts %}
    $('.unfollow').click(function(){
        var catid;
        catid = $(this).attr("data-catid");
        var catname = $(this).attr("data-field-id");
        $.ajax(
        {
            type: "GET",
            url: "/unfollow",
            data:{
                     post_id: catid
            },
            success: function( data ){
                $( '#card'+ catid ).remove();
            }
        })

    })
{% endblock scripts %}