{%  extends 'QuoraApp/main.html' %}
{% block content %}
          <div class="outer-container">
              <nav class="navbar navbar-light bg-light col-lg-2 leftbar">
                    <ul class="navbar-nav">
                        {% for i in tag %}
                        <li class="nav-item tag">
                            <img alt="tag" src="sampletag.jfif"/>
                            <a class="nav-link" href="{% url 'TagPage' i.id %}">{{i.name}}</a>
                        </li>
                        {% endfor %}

                    </ul>

              </nav>
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-header headermiddle">
                    <img src="default_profile.png"/>
                    {{request.user.username}}

                  </div>
                  <div class="card-body">
                    <blockquote class="blockquote mb-0">
                      <a href="{% url 'AskQuestion' %}">What is your Question or Link?</a>
                    </blockquote>
                  </div>
                </div>
                <div class="card">
                    {% for i in answers %}
                  <div class="card-header tagmiddle">
                    <img src="Pizza.jpg"/>
                    {{i.question.tag}}
                  </div>
                  <div class="card-body ques">
                    <h5 class="card-title">{{i.question.description}}</h5>
                    <p class="card-text">{{i.answer|safe}}</p>
                   <div class="bottommiddle">
                     <img src="upvotedownvote.jpg"/>
                     <img src="share.jfif"/>
                     <img src="comment.png"/>
                   </div>
                  </div>
                    {% endfor %}
                </div>


              </div>
              <nav class="navbar navbar-light bg-light col-lg-2 rightbar">
                <ul class="navbar-nav ">
                    {% for i in tag %}
                    <li class="nav-item tag">
                      <img alt="tag" src="sampletag.jfif"/>
                        <a class="nav-link" href="{% url 'TagPage' i.id %}">{{i.name}}</a>
                    </li>
                    {% endfor %}
                </ul>

          </nav>



          </div>

{% endblock %}

