{%  extends 'QuoraApp/main.html' %}
{% block content %}


          <div class="outer-container"> 
              <div class="col-lg-6">
                
                <!-- Question text -->
                <div class="card">
                  <div class="card-header headermiddle">
                    <img src="default_profile.png"/>
                    {{ question.askedBy }} asked {{ question.creationTime }}
                  </div>
                  <div class="card-body">
                    <blockquote class="blockquote mb-0">
                      <h5 class="card-title">{{ question.description }}</h5>
                    </blockquote>
                  </div>
                </div>

                <!-- Each answer -->
                {% for answer in all_answers %}
                <div class="card mt-4">
                  <div class="card-header tagmiddle">
                    <img src="default_profile.png"/>
                    {{ answer.answeredBy }} answered {{ answer.creationTime }}
                  </div>
                  <div class="card-body ques">
                    <p class="card-text">
                        {{ answer.answer|safe }}
                    </p>
                   <div class="bottommiddle">
                     <button type="button" class="btn btn-success"><a style="color:white" href="{% url 'upvote' answer.id %}">Upvote</a></button>
                    <button type="button" class="btn btn-danger"><a style="color:white" href="{% url 'downvote' answer.id %}">DownVote</a></button>

                   <button type="button" class="btn btn-primary">
                    <a  style="color:white" href="{% url 'submitanswer' answer.question.id %}">
                    Answer
                        </a>
                    </button>



                   </div>
                  </div>
                </div>
                {% endfor %}


              </div>
              <nav class="navbar navbar-light bg-light col-lg-2 rightbar">
                  <ul class="navbar-nav ">
                    {% for i in tag %}
                    <li class="nav-item tag">
                      <img alt="tag" src="sampletag.jfif"/>
                        <a class="nav-link" href="{% url 'TagPage' i.id %}">{{i.name}}</a>
                    </li>
                    {% endfor %}
                  </ul>

          </nav>  



          </div>
{% endblock %}


