<!DOCTYPE html>
<html>
    <head>
        <title>

        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/homepage.css' %}" type="text/css"/>
    </head>
    <body>
        <!-- horizontal navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Quora</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Answer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Add Question</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                  </li>
               
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>

          <div class="outer-container"> 
              <div class="col-lg-6">
                
                <!-- Question text -->
                <div class="card">
                  <div class="card-header headermiddle">
                    <img src="default_profile.png"/>
                    Tanaya Wankar asked 3 Jan 2020
                  </div>
                  <div class="card-body">
                    <blockquote class="blockquote mb-0">
                      <h5 class="card-title">What is the difference between tier 1 and tier 3 college students in India?</h5>
                    </blockquote>
                  </div>
                </div>

                <!-- Each answer -->
                <div class="card mt-4">
                  <div class="card-header tagmiddle">
                    <img src="default_profile.png"/>
                    Prathamesh Thombre answered 4 Jan 2020
                  </div>
                  <div class="card-body ques">
                    <p class="card-text">
                       
                        The ground reality is colleges differ in various aspects. Some are “tier 1” and some “tier 3”. Let’s take a look at some of the glaring differences between the students of these colleges :
                        Connections - This is the most obvious one. Students need better alumni to get more opportunities. In tier 1 colleges, this is something which is really stressed upon. Their alumni are at many great positions, and they come in handy whenever needed.
                        Health and wellness features availability - This is not so stressed upon in Indian context, but many colleges do not have sports fields and other facilities. These contribute to well balanced development of students.
                        Mentality - Many students develop a inferiority complex or a superiority complex depending on the college they are in. Both of them are equally toxic in the long run. But it gives you a certain level of confidence when you are from a tier 1 college.
                    </p>
                   <div class="bottommiddle">
                     <img src="upvotedownvote.jpg"/>
                     <img src="share.jfif"/>
                     <img src="comment.png"/>
                   </div>
                  </div>
                </div>


                <div class="card mt-4">
                    <div class="card-header tagmiddle">
                      <img src="default_profile.png"/>
                      Shivam Vatshayan, former Research Intern at Indian Institute of Technology, Patna (2018)
                    </div>
                    <div class="card-body ques">
                      <p class="card-text">
                         
                        I can Say as I had study in both tier 1 and tier 2/3 colleges.

                        Tier 1 - IIT/ NITs -
                        
                        Students get Everything with less fees than Private Business University with more Opportunities and Good background and competitive Environment.
                        They get facilities for growth of their Course.
                        Rigorous lab and more inclination toward practicals and projects.
                        High pressure and time management.
                        Free seminars and workshop every other week for students by best mentors.
                        Participation of Top product based companies.
                        Ratio of girls and boys is worst.
                        Tier 2/3 - Every Other private and State colleges -
                        
                        Irritating and useless Attendance policy 75% for giving exams.
                        Heavy fees !!
                        Student have to pay even for 1 test tube and wire and many kits in labs are not working or either not used for long time , If it work then faculties are not interested to put their whole effort on teaching practicals to students.
                        Due to College management work ethics even faculties and students are not interested towards their work.
                        Just copying and pasting useless assignment.
                        Exams every other months.
                        Writing Codes on pages and getting signed with Professor with closed eyes.
                        Copying codes from pen drive, Internet and books in lab and practicals exam.
                        Seminars and workshop and most of the things are paid.
                      </p>
                     <div class="bottommiddle">
                       <img src="upvotedownvote.jpg"/>
                       <img src="share.jfif"/>
                       <img src="comment.png"/>
                     </div>
                    </div>
                  </div>

                  <div class="card mt-4">
                    <div class="card-header tagmiddle">
                      <img src="default_profile.png"/>
                      Aviral Bhatnagar, IIT Bombay' 14 | IIM Ahmedabad' 16
                    </div>
                    <div class="card-body ques">
                      <p class="card-text">
                        “Tier 1” Student: Man, I wish I was in another college with less pressure

                        “Tier 2” Student: Man, I wish I was in another college with more opportunities
                        
                        “Tier 3” Student: Man, I wish I was in another college
                        
                        High Achieving Student: Man, I am so lucky - I will work hard to do a good job
                        
                        Opportunities are what you make of them. That’s where the real difference is.
                        
                        And, as you will see in life, you can be a high achiever anywhere.
                      </p>
                     <div class="bottommiddle">
                       <img src="upvotedownvote.jpg"/>
                       <img src="share.jfif"/>
                       <img src="comment.png"/>
                     </div>
                    </div>
                  </div>


              </div>
              <nav class="navbar navbar-light bg-light col-lg-2 rightbar">
                <ul class="navbar-nav ">
                    <li class="nav-item tag">
                      <img alt="tag" src="sampletag.jfif"/>
                        <a class="nav-link" href="#">Science</a>
                    </li>
                    <li class="nav-item tag">
                      <img alt="tag" src="sampletag.jfif"/>
                        <a class="nav-link" href="#">Technology</a>
                    </li>
                    <li class="nav-item tag">
                      <img alt="tag" src="sampletag.jfif"/>
                        <a class="nav-link" href="#">Food</a>
                    </li>
                    <li class="nav-item tag">
                      <img alt="tag" src="sampletag.jfif"/>
                        <a class="nav-link" href="#">Nature</a>
                    </li>
                    <li class="nav-item tag">
                      <img alt="tag" src="sampletag.jfif"/>
                      <a class="nav-link" href="#">Tour</a>
                  </li>
                  <li class="nav-item tag">
                    <img alt="tag" src="sampletag.jfif"/>
                    <a class="nav-link" href="#">Bollywood</a>
                </li>
                <li class="nav-item tag">
                  <img alt="tag" src="sampletag.jfif"/>
                  <a class="nav-link" href="#">Medical</a>
              </li>
              <li class="nav-item tag">
                <img alt="tag" src="sampletag.jfif"/>
                <a class="nav-link" href="#">Computer Science</a>
            </li>
                </ul>

          </nav>  



          </div>



    </body>

</html>