<!DOCTYPE html>
<html>
    <head>
        <title>

        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/profile.css' %}" type="text/css"/>
    </head>
    <body>
        <!-- horizontal navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Quora</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Answer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Add Question</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                  </li>
               
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
        </nav>

        <!-- Container-body -->
        <div class="outer-container-profile">

            <!-- Wrapping of all 4 divs -->
            <div class="wrapper-div col-lg-12">
                
                <!-- Left side div -->
                <div class="col-lg-3 mx-1">
                    <!-- Profile pic + name + bio -->
                    <div class="card profile-card">
                        <img src="default_profile.png" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">John Doe</h5>
                        <p class="card-text">I am a programmer. My job is to make you jobless</p>
                        <a href="#" class="btn btn-primary">Update Profile</a>
                        </div>
                    </div>

                    <!-- University -->
                    <div class="card mt-3">
                        <h4 style="text-align: center; margin-top: 0.5rem; margin-bottom: 0.5rem;">Education Details</h4>
                        <div class="individual-detail-edu">
                            <h6 class="tag-name col-lg-4">University</h6>
                            <p class="tag-value col-lg-8">Pune University</p>
                        </div>
                        <hr />
                        <div class="individual-detail-edu">
                            <h6 class="tag-name col-lg-4">Degree</h6>
                            <p class="tag-value col-lg-8">BE</p>
                        </div>
                        <hr />
                        <div class="individual-detail-edu">
                            <h6 class="tag-name col-lg-4">Branch</h6>
                            <p class="tag-value col-lg-8">Computer Engineering</p>
                        </div>
                        <hr />
                    </div>
                </div>

                <!-- Right side div -->
                <div class="col-lg-7 mx-1">
                    <!-- Name, email and remaining fields -->
                    <div class="card profile-details">
                        <div class="individual-detail">
                            <h6 class="tag-name col-lg-4">Full Name</h6>
                            <p class="tag-value col-lg-8">Prathamesh Thombre</p>
                        </div>
                        <hr />
                        <div class="individual-detail">
                            <h6 class="tag-name col-lg-4">Phone Number</h6>
                            <p class="tag-value col-lg-8">8888812345</p>
                        </div>
                        <hr />
                        <div class="individual-detail">
                            <h6 class="tag-name col-lg-4">Email</h6>
                            <p class="tag-value col-lg-8">pthombre657@gmail.com</p>
                        </div>
                        <hr />
                        <div class="individual-detail">
                            <h6 class="tag-name col-lg-4">Address</h6>
                            <p class="tag-value col-lg-8">
                                Address B401, Shree Siddhivinayak Manasvi, 
                                Survey no. 39/11B/12,
                                Katraj - Ambegaon Bk Road, 
                                Ambegaon, 
                                Pune-411046
                            </p>
                        </div>
                        <hr />
                    </div>
                    <!-- Questions, ans, following stats -->
                    <div class="more-stats mt-4">
                        <div class="card text-dark bg-light mb-3 col-lg-4" style="max-width: 18rem;">
                            <div class="card-header">Following</div>
                            <div class="card-body">
                                <h1 class="card-title">15</h1>
                                <a href="#" class="btn btn-primary">See Tags that you follow</a>
                            </div>
                        </div>
                        <div class="card text-dark bg-light mb-3 col-lg-4" style="max-width: 18rem;">
                            <div class="card-header">Questions Asked</div>
                            <div class="card-body">
                                <h1 class="card-title">11</h1>
                                <a href="#" class="btn btn-primary">See Your Questions</a>
                            </div>
                        </div>
                        <div class="card text-dark bg-light mb-3 col-lg-4" style="max-width: 18rem;">
                            <div class="card-header">Answers Submitted</div>
                            <div class="card-body">
                                <h1 class="card-title">7</h1>
                                <a href="#" class="btn btn-primary">See Your Answers</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </body>

</html>