{%  extends 'QuoraApp/main.html' %}
{% block content %}

          <!-- middle part -->
          <div class="outer-container">

            <!-- Tag Question and Answer -->
            <div class="card lg-8 tagheader">
              <!-- Tag description -->
                <img class="card-img-top" src="sampletag.jfif" alt="Card image cap">
                <div style="display:flex,justify-content:centre, ">
                {% if follow %}
                <button type="button"  class="btn btn-danger follow-unfollow" id="unfollow" data-catid="{{cat_id}}">UnFollow</button>
                {% else %}
                <button type="button"  class="btn btn-success follow-unfollow" id="follow" data-catid="{{cat_id}}">Follow</button>
                {% endif %}
                 </div>
                <div class="card-body">
                  <h5 class="card-title">{{tag.name}}</h5>
                  <p class="card-text">{{tag.description}}</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>

                <!-- User Space -->
                <div class="card-header tagheaderuser">
                    <img src="default_profile.png"/>
                    <p>Say Something</p>
                  </div>

                  <!-- Question description -->
                     {% for i in answers %}
                  <div class="card mt-4">
                    <div class="card-header headermiddle">
                      <img src="default_profile.png"/>
                         {{i.question.askedBy.name}} {{i.question.creationTime}}
                        <blockquote class="blockquote mb-0">
                          <h5 class="card-title">{{i.question.description}}</h5>
                        </blockquote>
                    </div>
                  </div>

                  <!-- Answer For Question -->

                  <div class="card">
                    <div class="card-body ques">
                        <p>{{i.answeredBy.name}} answered {{i.creationTime}}</p>
                      <p class="card-text">
                        {{i.answer|safe}}

                     <div class="bottommiddle">
                        <button type="button" class="btn btn-success"  ><a class="upvote" data-catid="{{ i.id }}" style="color:white;" href="#">Upvote</a></button>
                    <button type="button" class="btn btn-danger"><a class="downvote" data-catid="{{ i.id }}" style="color:white;" href="#">DownVote</a></button>
                        <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary">
                     <a  style="color:white" href="{% url 'submitanswer' i.question.id %}">
                    Answer
                        </a>
                </button>

<!-- Modal -->


                     </div>
                    </div>
                  </div>
                {% endfor %}


          </div>

          <!-- Following People card -->
          <div class="card bg-light lg-4" style="max-width: 18rem;">
            <div class="card-header">Computer Science</div>
            <div class="card-body">
              <h5 class="card-title">People 13.6k</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>

          </div>

{% endblock %}

{% block scripts %}
    $('.follow-unfollow').click(function(){
        var catid = $(this).attr('data-catid');
        var currText = $(this).text().toLowerCase();
        $.ajax({
            type: "GET",
            url: `/${currText}`,
            data:{
                     post_id: catid
            },
            success: function( data ){
                if(currText === 'follow') {
                    // We have now followed that tag
                    $('#follow').removeClass('btn-success').addClass('btn-danger').text('Unfollow').attr("id", "unfollow");
                }
                else {
                    $('#unfollow').removeClass('btn-danger').addClass('btn-success').text('Follow').attr("id", "follow");
                }
            }
        })
    })
{% endblock scripts %}
