{%  extends 'QuoraApp/main.html' %}
{% block content %}

          <!-- middle part -->
          <div class="outer-container">

            <!-- Tag Question and Answer -->
            <div class="lg-8 tagheader">
              <!-- Tag description -->
                <div class="card">
                  <img class="card-img-top" src="{{ tag.tag_pic.url }}" alt="Card image cap">
                  <div style="display:flex; justify-content:centre">
                  {% if follow %}
                  <button type="button"  class="btn btn-danger follow-unfollow" id="unfollow" data-catid="{{cat_id}}">UnFollow</button>
                  {% else %}
                  <button type="button"  class="btn btn-success follow-unfollow" id="follow" data-catid="{{cat_id}}">Follow</button>
                  {% endif %}
                   </div>
                  <div class="card-body">
                    <h5 class="card-title" style="font-size: 25px;">{{tag.name}}</h5>
                    <p class="card-text">{{tag.description}}</p>
                      <span class="badge rounded-pill bg-warning text-dark">Followed By:{{ tag.following_set.count }}</span>
                  </div>
                </div>

                <!-- User Space -->
                
                <div class="card-header tagheaderuser">
                    <img src="{{ request.user.member.profile_pic.url }}"/>
                    <p>Say Something</p>
                </div>

                  <!-- Question description -->
                     {% for i in answers %}
                  <div class="card mt-4">
                    <div class="card-header headermiddle">
                      <img src="{{ i.question.askedBy.profile_pic.url }}"/>
                         {{i.question.askedBy.name}} {{i.question.creationTime}}
                        <blockquote class="blockquote mb-0">
                          <h5 class="card-title">{{i.question.description}}</h5>
                        </blockquote>
                    </div>
                  </div>

                  <!-- Answer For Question -->
                  <div class="card">
                    <div class="card-header">
                      <p>{{ i.answeredBy }} answered {{ i.creationTime }}</p>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-body ques">
                      <p class="card-text">
                        {{i.answer|safe}}

                        <div class="bottommiddle" style="display:flex">

                       {% for yu in up %}
                       {% if forloop.counter0 == forloop.parentloop.counter0 %}
                       <p id="up{{i.id}}">
                       {% if yu in pres %}

                        <button type="button" disabled="true" id="disup{{i.id}}"  class="btn btn-success"><a class="upvote" data-catid="{{ i.id }}" style="color:white" >UpVoted <i class="fa fa-thumbs-up"></i></a></a></button>

                       {% else %}

                       <button type="button"  class="btn btn-outline-success" id="ableup{{i.id}}"><a class="upvote" data-catid="{{ i.id }}" >UpVote <i class="fa fa-thumbs-up"></i></a></button>

                       {% endif %}
                           </p>
                        {% endif %}
                       {% endfor %}

                       {% for yd in down %}
                       {% if forloop.counter0 == forloop.parentloop.counter0 %}
                         <p id="dw{{i.id}}">
                       {% if yd in pres %}

                        <button type="button" disabled="true" class="btn btn-danger" id="disdw{{i.id}}"><a class="downvote" data-catid="{{ i.id }}" >DownVoted <i class="fa fa-thumbs-down"></i></a></button>


                       {% else %}

                       <button type="button"  class="btn btn-outline-danger" id="abledw{{i.id}}"><a class="downvote" data-catid="{{ i.id }}" >DownVote <i class="fa fa-thumbs-down"></i></a></button>

                       {% endif %}
                              </p>
                       {% endif %}
                       {% endfor %}

                   <button type="button" class="btn btn-primary">
                       <a style="color:white;" href="{% url 'submitanswer' i.question.id %}">
                             Answer
                       </a>
                    </button>
                     </div>

                      <p>
                       {% for u in upvote %}
                       {% if forloop.counter0 == forloop.parentloop.counter0 %}
                       <span class="badge rounded-pill bg-warning text-dark" id="upvotes{{i.id}}">Upvotes:{{u}}</span>
                       {% endif %}
                       {% endfor %}
                       {% for k in downvote %}
                        {% if forloop.counter0 == forloop.parentloop.counter0 %}
                       <span class="badge rounded-pill bg-warning text-dark" id="downvotes{{i.id}}">DownVotes:{{k}}</span>
                       {% endif %}
                       {% endfor %}
                       </p>


                    </div>
                  </div>
                {% endfor %}


          </div>

          <div class="col-lg-2 rightbar">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Follow topics you know about</h5>
                <p class="card-text">Following topics helps us find questions for you to answer</p>
                <a href="{% url 'Following' %}" class="btn btn-primary">Follow Topics</a>
              </div>
            </div>
          </div>  

          </div>

{% endblock %}

{% block scripts %}
    $('.follow-unfollow').click(function(){
        var catid = $(this).attr('data-catid');
        var currText = $(this).text().toLowerCase();
        $.ajax({
            type: "GET",
            url: `/${currText}`,
            data:{
                     post_id: catid
            },
            success: function( data ){
                if(currText === 'follow') {
                    // We have now followed that tag
                    $('#follow').removeClass('btn-success').addClass('btn-danger').text('Unfollow').attr("id", "unfollow");
                }
                else {
                    $('#unfollow').removeClass('btn-danger').addClass('btn-success').text('Follow').attr("id", "follow");
                }
            }
        })
    });

$('body').on('click','a.upvote',function(){
    var catid;
    catid = $(this).attr("data-catid");
    console.log("here upvote")
    console.log(catid)
    $.ajax(
    {
        type:"GET",
        url: "/upvote/",
        data:{
                 post_id: catid
        },
        success: function( data )
        {
            console.log(data);
            let btnClass = $('#dw'+catid + ' :button').attr('class');
            let upCnt = parseInt($(`#upvotes${catid}`).text().slice(8));
            let downCnt = parseInt($(`#downvotes${catid}`).text().slice(10));
            console.log(btnClass);
            if(btnClass === 'btn btn-danger') {
              downCnt -= 1;
            } else {
              console.log($(`#upvotes${catid}`).text());
            }
            upCnt += 1;
            $(`#upvotes${catid}`).text('Upvotes:'+upCnt.toString());
            $(`#downvotes${catid}`).text('DownVotes:'+downCnt.toString());
            $( '#up'+ catid ).empty();
            $('#up'+catid).append(
                `<button type="button" disabled="true" id="disup${catid}"  class="btn btn-success"><a class="upvote"  data-catid="${catid}" style="color:white" >UpVoted <i class="fa fa-thumbs-up"></i></a></button>`
            );

                $('#dw'+catid).empty();
          $('#dw'+catid).append(
             `<button type="button"  class="btn btn-outline-danger" id="abledw${catid}"><a class="downvote"  data-catid="${catid}">DownVote <i class="fa fa-thumbs-down"></i></a></button>`
          );
        }
     })




});

$('body').on('click','a.downvote',function(){
    var catid;
    catid = $(this).attr("data-catid");
    console.log("here downvote")
    console.log(catid)
    $.ajax(
    {
        type:"GET",
        url: "/downvote/",
        data:{
                 post_id: catid
        },
        success: function( data )
        {
            console.log(data);
             let btnClass = $('#up'+catid + ' :button').attr('class');
             let upCnt = parseInt($(`#upvotes${catid}`).text().slice(8));
             let downCnt = parseInt($(`#downvotes${catid}`).text().slice(10));
             if(btnClass === 'btn btn-success') {
                upCnt -= 1;
             } else {
                console.log($(`#upvotes${catid}`).text());
             }
             downCnt += 1;
             $(`#upvotes${catid}`).text('Upvotes:'+upCnt.toString());
             $(`#downvotes${catid}`).text('DownVotes:'+downCnt.toString());
             $( '#dw'+ catid ).empty();
             $('#dw'+catid).append(
                `<button type="button" disabled="true" class="btn btn-danger" id="disdw${catid}"><a class="downvote"  data-catid="${catid}" >DownVoted <i class="fa fa-thumbs-down"></i></a></button>`
            );

            $('#up'+catid).empty();
            $('#up'+catid).append(
              `<button type="button"  class="btn btn-outline-success" id="ableup${catid}"><a class="upvote"   data-catid="${catid}" >UpVote <i class="fa fa-thumbs-up"></i></a></button>`
            );
        }
     })
});





{% endblock scripts %}
