{%  extends 'QuoraApp/main.html' %}
{% block content %}

          <!-- middle part -->
          <div class="outer-container">

            <!-- Tag Question and Answer -->
            <div class="card lg-8 tagheader">
              <!-- Tag description -->
                <img class="card-img-top" src="sampletag.jfif" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Computer Science</h5>
                  <p class="card-text">A space for those who love computer science</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>

                <!-- User Space -->
                <div class="card-header tagheaderuser">
                    <img src="default_profile.png"/>
                    <p>Say Something</p>
                  </div>

                  <!-- Question description -->
                  <div class="card">
                    <div class="card-header headermiddle">
                      <img src="default_profile.png"/>
                      Tanaya Wankar asked 3 Jan 2020
                    </div>
                    <div class="card-body">
                      <blockquote class="blockquote mb-0">
                        <h5 class="card-title">What is the difference between tier 1 and tier 3 college students in India?</h5>
                      </blockquote>
                    </div>
                  </div>

                  <!-- Answer For Question -->
                  <div class="card mt-4">
                    <div class="card-header tagmiddle">
                      <img src="default_profile.png"/>
                      Prathamesh Thombre answered 4 Jan 2020
                    </div>
                    <div class="card-body ques">
                      <p class="card-text">

                          The ground reality is colleges differ in various aspects. Some are “tier 1” and some “tier 3”. Let’s take a look at some of the glaring differences between the students of these colleges :
                          Connections - This is the most obvious one. Students need better alumni to get more opportunities. In tier 1 colleges, this is something which is really stressed upon. Their alumni are at many great positions, and they come in handy whenever needed.
                          Health and wellness features availability - This is not so stressed upon in Indian context, but many colleges do not have sports fields and other facilities. These contribute to well balanced development of students.
                          Mentality - Many students develop a inferiority complex or a superiority complex depending on the college they are in. Both of them are equally toxic in the long run. But it gives you a certain level of confidence when you are from a tier 1 college.
                      </p>
                     <div class="bottommiddle">
                       <img src="upvotedownvote.jpg"/>
                       <img src="share.jfif"/>
                       <img src="comment.png"/>
                     </div>
                    </div>
                  </div>


          </div>

          <!-- Following People card -->
          <div class="card bg-light lg-4" style="max-width: 18rem;">
            <div class="card-header">Computer Science</div>
            <div class="card-body">
              <h5 class="card-title">People 13.6k</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>

          </div>

{% endblock %}
